 p {

text-align: center;
margin-left: 3em;
margin-right: 3em;
line-height: 2em;

}
/* header {
    background-color: #C9EEFF;
    margin-left: 14em;
    margin-right: 14em;
    font-family: 'Arvo', serif;
    
}
h1 h2 {
    margin-left: 17em;
    margin-right: 17em;  */ 

body {
    width: 800px;
    height: 250px;
    
    padding-left: 2em;
    padding-right: 2em;
    margin: auto;
    font-family: 'Arvo', serif;
}
header {
    margin-bottom: 3em;
}
h1 { 
font-size: 30px;
line-height: .5em;
padding-top: 30px;

}

img {
    margin-right: 20em;;
}