body {
    padding-left: 17em;
    padding-right: 17em;

}
p {
    line-height: 2em;
}
div.a {
    text-indent: 50px;
  }
  h1, h3, footer{
    text-align: center;
  }
 .center {
   text-align: center;

 }